{% extends "templates/basic.html" %}
{% set active_page = "Contributions" %}

{% block content %}
<script type="text/x-mathjax-config">
</script>

<div class="container clearfix mt-100 mb-20">
  {% include "templates/globalmessage.html" ignore missing %}
  {% include "templates/timeline.html" ignore missing %}


    <h2><span id="registration">Abstract submission</span></h2>
  <div class="c12 row">
    <p>We are still accepting posters (one poster per perticipant). Simply <a href="https://zenodo.org/deposit/new?c=coolstars20half" target="_blank">upload your poster</a> (<a href="zenodo.html">detailed instructions</a>) and the SOC will accept posters that are appropriate in content and topic for this conference. </p>
  </div>

  <h2><span id="registration">Registration and abstract submission</span></h2>
  <div class="c12 row">
    <p>Use the form below to register for the conference. Registration is free of charge, but required to attend the live sessions.</p>
  </div>

  <div class="c12 row">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe255Z6MDBpLgaL74y46Hyq-QVLD662aadyXD05Qr6z9f_itg/viewform?embedded=true" width="640" height="1916" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

  </div>
  <h2><span id="Talks">Talks</span></h2>
  <div class="c12 row">
    <p>Invited speakers should plan for a talk of 24 min plus 6 min for questions. Contributed talks should be 12 min long plus 3 min for questions.</p>
  </div>

  <h2><span id="Posters">Posters and Haikus</span></h2>
  <div class="c12 row">
    <p>See <a href="zenodo.html">for instructions</a>.</p>
  </div>
  <div class="c12 row">

  <div class="c12 row">

    <pre>
      The pandemic once out
      Cool stars enter
      The conference game.*
    </pre>
    alexis lavail<br>
    * shameless adaptation of
    <pre>
      The lamp once out
      Cool stars enter
      The window frame.
    </pre>
    Natsume Soseki
  </div>
</div>


{% endblock content %}
