{% extends "templates/basic.html" %}
{% set active_page = "Contributions" %}

{% block content %}
<script type="text/x-mathjax-config">
</script>

<div class="container clearfix mt-100 mb-20">
  {% include "templates/globalmessage.html" ignore missing %}
  {% include "templates/timeline.html" ignore missing %}
  
  <h2><span id="registration">Registration and abstract submission</span></h2>
  <div class="c12 row">
    <p>Use the form below to register for the conference. The same form also allows you to submit an abstract, which can be modified until the abstract submission deadline using the link in the confirmation email. Registration is free of charge, but required to attend the live sessions. 

  <div class="c12 row">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe255Z6MDBpLgaL74y46Hyq-QVLD662aadyXD05Qr6z9f_itg/viewform?embedded=true" width="640" height="1916" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

  </div>
  <h2><span id="Talks">Talks</span></h2>
  <div class="c12 row">
    <p>Instructions for preparing remote talks will be posted here.</p>
  </div>

  <h2><span id="Posters">Posters and Haikus</span></h2>
  <div class="c12 row">
    <p>Instructions will be posted here.</p>  
  </div>
</div>


{% endblock content %}
