{% extends "templates/basic.html" %}
{% import "templates/abstracts_helper.html" as abstracts %}
{% set active_page = "Participants" %}

{% block content %}
    <div class="container clearfix mt-100 mb-20">
      {% include "templates/globalmessage.html" ignore missing %}
      {% include "templates/timeline.html" ignore missing %}
      <a name="top"></a>

      <h2><span>Participants</span></h2>
      <div class="c12 row">
	<iframe src="data/participant_map.html"  width="100%" height="400" title="World map with participant affiliations marked"></iframe>
      </div>
      <div class="c12 row">
	<p>Map with participants home institutions marked. Matching is done through automated query of bing maps and may not be correct in all cases (e.g. two participants listed their affiliation as "astronom", which gets mapped to <a href="https://www.bing.com/maps?osid=7851477a-c4f9-4cce-9af2-2f51fa2b695b&cp=54.93655~8.867011&lvl=20&v=2&sV=2&form=S00027">an address in Denmark</a>). Participants who did not provide an affiliation are located based on their email address (e.g. an address ending on ".de" will place a marker somewhere in Germany).</p>
</div>

      <div class="c12 row">
	<h3>Approximately alphabetical listing</h3>
  <p>This list it updated manually from the registration form, so it might take a day or two until your name is added.</p>
  <p>(<abbr title="except where I'm not sure about `van`, `de`, or non-ASCII characters in names">approximately</abbr> alphaphabetical by last name)</p>
  <ul class="listing">
  {% for t in participants %}
  <li><strong>{%- if t['Publish contact information?']|length > 5  %}<a href='mailto:{{ t['Email Address'] }}'>{% endif %}
{{ t['Name'] }}{%- if t['Publish contact information?']|length > 5  %}</a>{%- endif %}</strong>{% if t['Affiliation']|length > 0 %} - {{ t['Affiliation'] }}{% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
</div>

{% endblock content %}
