{% extends "templates/basic.html" %}
{% set active_page = "Program" %}

{% block content %}

<div class="container clearfix mt-100 mb-20">
       {% include "templates/globalmessage.html" ignore missing %}

      <h2><span>Schedule</span></h2>
      <div class="c12 row">
	<p>All scheduling information is nominal.</p>
	<p>Daily synchronous sessions via a Zoom webinar. These sessions will be 3 - 4 hours long (with breaks), and will be held from ~17:00 to 20:00/21:00 UTC. The webinars will be recorded, and uploaded to Youtube.</p>

</div>
</div>

{% endblock content %}
