{% extends "templates/basic.html" %}
{% set active_page = "Program" %}

{% block content %}

<div class="container clearfix mt-100 mb-20">
  {% include "templates/globalmessage.html" ignore missing %}
  <h2><span>Schedule</span></h2>
  <div class="c12 row">
    <h3>Overview</h3>
    <p>Daily synchronous sessions via a Zoom webinar. These sessions will be 3 - 4 hours long (with breaks), and will be held from ~17:00 to 20:00/21:00 UTC. The webinars will be recorded, and uploaded to Youtube.</p>

<table class="schedule" border="2">
  <tr class="title">
	    <td>CET</td>
	    <td>UTC</td>
	    <td>EST</td>
	    <td>Tuesday</td>
	    <td>Wednesday</td>
	    <td>Thursday</td>
	  </tr>
	  <tr class="title">
	    <td></td>
	    <td></td>
	    <td></td>
	    <td>02 March 2021</td>
	    <td>03 March 2021</td>
	    <td>04 March 2021</td>
	  </tr>
  <tr>
	    <td class="time"></td>
	    <td class="time"></td>
	    <td class="time"></td>
	    <td>Stellar systems, clusters, and associations</td>
	    <td>The Sun and the Heliosphere</td>
	    <td>Post main sequence cool stars</td>
	  </tr>

	  <tr>
	    <td class="time">18:00-19:00</td>
	    <td class="time">17:00-18:00</td>
	    <td class="time">12:00-13:00</td>
	    <td class="plenary"><a href="abstracts.html#talksonTuesday">Plenary session</a></td>
	    <td class="plenary"><a href="abstracts.html#talksonWednesday">Plenary session</a></td>
	    <td class="plenary"><a href="abstracts.html#talksonThursday">Plenary session</a></td>
	  </tr>
	  <tr>
	    <td class="time">19:00-19:15</td>
	    <td class="time">18:00-18:15</td>
	    <td class="time">13:00-13:15</td>
	    <td class="plenary"><a href="abstracts.html#haikusonTuesday">Plenary session (Haikus)</a></td>
	    <td class="plenary"><a href="abstracts.html#haikusonWednesday">Plenary session (Haikus)</a></td>
	    <td class="plenary"><a href="abstracts.html#haikusonThursday">Plenary session (Haikus)</a></td>
	  </tr>
	  <tr>
	    <td class="time">19:15-19:45</td>
	    <td class="time">18:15-18:45</td>
	    <td class="time">13:15-13:45</td>
	    <td class="plenary"><a href="abstracts.html#talksonTuesday">Plenary session</a></td>
	    <td class="plenary"><a href="abstracts.html#talksonWednesday">Plenary session</a></td>
	    <td class="plenary"><a href="abstracts.html#talksonThursday">Plenary session</a></td>
	  </tr>

	  <tr>
	    <td class="time">19:45-20:00</td>
	    <td class="time">18:45-19:00</td>
	    <td class="time">13:45-14:00</td>
	    <td class="break">Coffee break + <a href="abstracts.html#posters">Posters</a></td>
	    <td class="break">Coffee break + <a href="abstracts.html#posters">Posters</a></td>
	    <td class="break">Coffee break + <a href="abstracts.html#posters">Posters</a></td>
	  </tr>
	    <tr>
	    <td class="time"></td>
	    <td class="time"></td>
	    <td class="time"></td>
	    <td>Young stars</td>
	    <td>The Sun - Very low mass stars</td>
	    <td>Globular clusters and Main Sequence stars</td>
	  </tr>
	  <tr>
	    <td class="time">20:00-21:00</td>
	    <td class="time">19:00-20:00</td>
	    <td class="time">14:00-15:00</td>
	    <td class="plenary"><a href="abstracts.html#talksonTuesday">Plenary session</a></td>
	    <td class="plenary"><a href="abstracts.html#talksonWednesday">Plenary session</a></td>
	    <td class="plenary"><a href="abstracts.html#talksonThursday">Plenary session</a></td>
	  </tr>

	  <tr>
	    <td class="time">21:00-21:15</td>
	    <td class="time">20:00-20:15</td>
	    <td class="time">15:00-15:15</td>
	    <td class="plenary"><a href="abstracts.html#haikusonTuesday">Plenary session (Haikus)</a></td>
	    <td class="plenary"><a href="abstracts.html#haikusonWednesday">Plenary session (Haikus)</a></td>
	    <td class="plenary"><a href="abstracts.html#haikusonThursday">Plenary session (Haikus)</a></td>
	  </tr>
	  <tr>
	    <td class="time">21:15-22:00</td>
	    <td class="time">20:15-21:00</td>
	    <td class="time">15:15-16:00</td>
	    <td class="plenary"><a href="abstracts.html#talksonTuesday">Plenary session</a></td>
	    <td class="plenary"><a href="abstracts.html#talksonWednesday">Plenary session</a></td>
	    <td class="plenary"><a href="abstracts.html#talksonThursday">Plenary session</a></td>
	  </tr>
	  <tr>
	    <td class="time">22:00-23:00</td>
	    <td class="time">21:00-22:00</td>
	    <td class="time">16:00-17:00</td>
	    <td class="splinter"><a href="">Topical interest room 1, 2, 3 / social meeting</a></td>
	    <td class="splinter"><a href="">Topical interest room 4, 5, 6 / poster session</a></td>
	    <td class="splinter"><a href="">Topical interest room 7, 8, 9</a></td>
	  </tr>
</table>
    <p>Small changes in scheduling could still happen. Check back here.</p>

    <h3>Social meeting / poster session</h3>
      <p>We will host a virtual Social Hour (Tuesday), and a virtual Poster Session (Wednesday) during the Topical Interest Room times (4-5PM EST). These events will be hosted using Gather.Town, a virtual environment that runs in your web browser with a 90’s video game feel. The link to join will be circulated to registered attendees. Gather.Town allows attendees to walk around, play games, and video chat with those nearby. We’ve found this platform is fun, easy to use, and helps capture some of the magic of “bumping into colleagues” that we all miss! See <a href="poster.html">the poster page</a> for details on the poster session.</p>
	{% for day in ['Tuesday', 'Wednesday', 'Thursday'] %}
        <a name="talkson{{ day }}"></a>
	<h3><span>Talks on {{ day }}</span></h3>
	<p>Invited talks are 24 + 6 min, contributed talks 12 + 3 min. See above for the timing of haiku sessions and coffee breaks.</p>
	<ul class="listing">
        {% for t in talks %}
	{% if t['day'] == day[:3] %}
	  <li>{{ t['time'] }} (EST): <strong>{%- if t['Publish contact information?'] %}<a href='mailto:{{ t['Email Address'] }}'>{% endif %}
		{{ t['Name'] }}{%- if t['Publish contact information?'] %}</a>{%- endif %}</strong> {%- if t['accepted as'] == 'invited talk' %} <i>(invited)</i>{% endif %} <a href="abstracts.html#{{ t['Title'] }}">{{ t['Title'] }}</a></li>
	  {% endif %}
	{% endfor %}
	</ul>
	{% endfor %}

	{% for day in ['Tuesday', 'Wednesday', 'Thursday'] %}
        <a name="haikuson{{ day }}"></a>
	<h3><span>Haikus on {{ day }}</span></h3>
		<ul class="listing">
        {% for t in haikus %}
	{% if t['day'] == day[:3] %}
	  <li>{{ t['time'] }} (EST): <strong>{%- if t['Publish contact information?'] %}<a href='mailto:{{ t['Email Address'] }}'>{% endif %}
		{{ t['Name'] }}{%- if t['Publish contact information?'] %}</a>{%- endif %}</strong> <a href="abstracts.html#{{ t['Title'] }}">{{ t['Title'] }}</a></li>
	  {% endif %}
	{% endfor %}
	</ul>
	{% endfor %}


  </div>


  <h2><span id="topicalinterestrooms">Topical interest rooms</span></h2>
  <div class="c12 row">
    <p>To facilitate collaboration on subjects of common interest we plan to host a number of "topical interest rooms" for about an hour at the end of each day's session. Unlike "Splinter sessions" in traditional Cool Stars conferences, a "topical interest room" does not have a list of speakers or presentations, but just a minimal agenda with maybe 3-5 subtopics to discuss. Anybody is free to share slides and data in a working group format. Possible discussion topics should be broad enough to be of general interest and narrow enough that a science goal could be effectively discussed in no more than one hour. Use the form below to suggest a topic (and volunteer to chair a room with the topic you suggested). Deadline for suggestions: Feb 19 2021.<p>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdSivyV8PQTceIFNuIngTOQsSQYMYFyNyC0S2tOz5UMQeERKQ/viewform?embedded=true" width="640" height="1361" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
  </div>

{% endblock content %}
