      <div class="c12 row">
        <p class="intro-text">Cool Stars 20.5 - virtually cool</p>
       </div>
<div class="c12 row">
        <p class="intro-text">March 2-4 2021, virtual meeting</p>
       </div>
       <div class="c12 row">
        <p class="welcome-text">The "Cambridge Workshops of Cool Stars, Stellar Systems and the Sun" are held biennially and have evolved to be the premier conference series for cool star research.</p>
       </div>
       <div class="c12 row">
      <p>
	With the ongoing pandemic, the organizers of <a href="https://coolstars21.github.io/">Cool Stars 21</a> consider it unlikely we will be able to meet in person in the summer of 2021.  This would put a four year gap between our meetings for the first time. Therefore we have decided to hold a virtual conference to keep everyone in our field up to date. But don't worry, we still plan to meet in Toulouse in mid-2022.</p>
       </div>

       {% include 'templates/submitbuttons.html' %}
