      <div class="c12 row">
        <p class="intro-text">Cool Stars 20.5 - virtually cool on March 2-4 2021</p>
       </div>
<div class="c12 row">
        <p class="intro-text"> in Memory of John Stauffer</p>
       </div>

<div class="c12 row">
        <p class="welcome-text">The "Cambridge Workshops of Cool Stars, Stellar Systems and the Sun" are held biennially and have evolved to be the premier conference series for cool star research.</p>
       </div>


       {% include 'templates/submitbuttons.html' %}
