<script>
 function getRandomUrl(){

  // define your source JSON data file URL
  var url = 'data/posterlinks.json',
        def = $.Deferred();

    $.getJSON( url ).done(function( data ){
    // received

    // get random index
    var randomIndex = Math.floor(Math.random() * data.length);

    // resolve with random URL
    def.resolve( data[ randomIndex ] );

  }).fail( function( error ){

    // failed
    def.reject( error );
  });

  return def;
}

$(document).ready( function(){
  getRandomUrl().done(function(url){

    // button click code
    var buttonClickCode = "window.location.href = '" + url + "'";

    // button click handler
    $('#randomLinkButton').attr('onClick', buttonClickCode)

  }).fail(function(){

    // failed
  });

});
</script>

<div class="c12 row">
  <p class="button-list">
    <a href="contributions.html" class="button">Register</a>
    <a href="zenodo.html" class="button">Upload instructions</a>
    <a href="https://zenodo.org/deposit/new?c=coolstars20half" target="_blank" class="button">Upload poster / haiku</a>
    <a id="randomLinkButton" href="#" class='button' target="_blank">View random poster</a>
  </p>
</div>
