<script>
 function getRandomUrl(){

  // define your source JSON data file URL
  var url = 'data/posterlinks.json',
        def = $.Deferred();

    $.getJSON( url ).done(function( data ){
    // received

    // get random index
    var randomIndex = Math.floor(Math.random() * data.length);

    // resolve with random URL
    window.open( data[ randomIndex ] );

  }).fail( function( error ){

    // failed
    def.reject( error );
  });

  return def;
 }
</script>

<div class="c12 row">
  <p class="button-list">
    <a href="https://www.youtube.com/channel/UCb5YV1cMVuvl2SIu33G02rg" class="button" target="_blank">Youtube</a>
    <a href="https://zenodo.org/communities/coolstars20half/" target="_blank" class="button">View Zenodo</a>
    <a id="randomLinkButton" class='button' onclick="getRandomUrl()">View random poster</a>
    <a href="zenodo.html" class="button">Submit proceedings</a>
  </p>
</div>
