<div class="c12 row">
  SOC and LOC plan the following important dates:
  <ul class="listing">
    <li>Jan 8, 2021: Deadline for abstracts for an oral contribution (talk or poster with haiku)</li>
    <li>Feb 12, 2021: Speakers announced</li>
    <li>Feb 19, 2021: Deadline for poster abstracts without haiku</li>
    <li>Feb 19, 2021: <a href="program.html#topicalinterestrooms">Deadline to suggest a topical interest room</a></li>
    <li>Feb 26, 2021: Prerecorded haikus submitted to LOC</li>
    <li>March 2-4, 2021: Virtual meeting</a></li>
  </ul>
</div>
